# Liberias

In [30]:
import numpy as np
import pandas as pd

# Operaciones

In [32]:
#Matriz inicial
A = np.array([[5, -4],
              [-4, 1]])

#Vector Inicial
V_0 = np.array([[1],
                [1]])

#Iteraciones
n = 7 #Python cuenta desde 0
iteraciones = range(1,n)

# Iteraciones para potencias negativas
iteraciones_pq = range(-1, -n, -1)  # Esto generará una secuencia de -1 a -n

In [33]:
#Matriz inicial
A = np.array([[0.6, 0.3, 0.1],
              [0.3, 0.5, 0.4],
              [0.1, 0.2, 0.5]])

#Vector Inicial
V_0 = np.array([[0.6],
                [0.2],
                [0.2]])

#Iteraciones
n = 11 #Python cuenta desde 0
iteraciones = range(1,n)

# Iteraciones para potencias negativas
iteraciones_pq = range(-1, -n, -1)  # Esto generará una secuencia de -1 a -6

# Tabla para encontrar Maximo

In [34]:
# Crear un DataFrame vacío para almacenar los resultados
matriz_simetrica_df = pd.DataFrame(columns=['i', 'Vi'])

In [35]:
for i in iteraciones:
    # Elevar la matriz A a la i-ésima potencia
    A_i = np.linalg.matrix_power(A, i)
    
    # Multiplicar la matriz elevada por el vector V_0
    resultado = A_i @ V_0
    

    # Redondear el resultado a 4 decimales y convertirlo a una lista
    resultado_redondeado = np.round(resultado.flatten(), 4).tolist()
    
    # Agregar el resultado al DataFrame
    matriz_simetrica_df.loc[i-1] = [i, resultado_redondeado]

## Calcular la norma o la magnitud

**square** se usa para elevar un numero al cuadrado

**sqrt** Se usa para sacar raiz

In [36]:
#Función para calcular la norma de un vector
def calcular_norma(vector):
    return np.sqrt(np.sum(np.square(vector)))

# Aplicar la función a cada elemento de la columna "Vi" y crear la nueva columna "||Vi||"
matriz_simetrica_df['||Vi||'] = matriz_simetrica_df['Vi'].apply(calcular_norma)

## Relación entre las normas de dos vectores consecutivos

In [37]:
matriz_simetrica_df["||Vi||/||Vi-1||"] = matriz_simetrica_df['||Vi||'].div(matriz_simetrica_df['||Vi||'].shift(1))

# Valor propio mas pequeño

In [38]:
# DataFrame para almacenar los resultados
matriz_simetrica_pq_df = pd.DataFrame(columns=['i', 'Vi'])

# Bucle para calcular A elevado a la i-ésima potencia negativa y multiplicarlo por V_0
for i in iteraciones_pq:
    # Elevar la matriz A a la i-ésima potencia negativa
    A_i = np.linalg.matrix_power(A, i)
    
    # Multiplicar la matriz elevada por el vector V_0
    resultado = A_i @ V_0
    
    # Redondear el resultado a 4 decimales y convertirlo a una lista
    resultado_redondeado = np.round(resultado.flatten(), 4).tolist()
    
    # Agregar el resultado al DataFrame
    matriz_simetrica_pq_df.loc[-i] = [-i, resultado_redondeado]

## Norma o Magnitud

In [39]:
#Función para calcular la norma de un vector
def calcular_norma(vector):
    return np.sqrt(np.sum(np.square(vector)))

# Aplicar la función a cada elemento de la columna "Vi" y crear la nueva columna "||Vi||"
matriz_simetrica_pq_df['||Vi||'] = matriz_simetrica_pq_df['Vi'].apply(calcular_norma)

## Relacion

In [40]:
matriz_simetrica_pq_df["||Vi||/||Vi-1||"] = matriz_simetrica_pq_df['||Vi||'].div(matriz_simetrica_pq_df['||Vi||'].shift(1))

# Resultados

In [41]:
valores_propios = np.linalg.eigvals(A)

print("Los valores propios de la matriz A son:")
print(np.round(valores_propios,3))

Los valores propios de la matriz A son:
[1.    0.441 0.159]

In [42]:
matriz_simetrica_df

    i                        Vi  ||Vi||  ||Vi||/||Vi-1||
0   1         [0.44, 0.36, 0.2]  0.6027              NaN
1   2     [0.392, 0.392, 0.216]  0.5950           0.9872
2   3     [0.3744, 0.4, 0.2256]  0.5925           0.9959
3   4  [0.3672, 0.4026, 0.2302]  0.5915           0.9984
4   5  [0.3641, 0.4035, 0.2324]  0.5911           0.9993
5   6  [0.3628, 0.4039, 0.2333]  0.5909           0.9997
6   7  [0.3622, 0.4041, 0.2337]  0.5908           0.9999
7   8  [0.3619, 0.4042, 0.2339]  0.5908           0.9999
8   9   [0.3618, 0.4042, 0.234]  0.5908           1.0000
9  10   [0.3617, 0.4042, 0.234]  0.5907           0.9999

In [43]:
matriz_simetrica_pq_df

,i,Vi,||Vi||,||Vi||/||Vi-1||
1,1,"[1.2857, -0.7143, 0.4286]",1.5320e+00,NaN
2,2,"[4.8776, -6.2653, 2.3878]",8.2914e+00,5.4122
3,3,"[25.8688, -40.7843, 15.9155]",5.0851e+01,6.1331
4,4,"[154.4819, -257.3607, 103.8788]",3.1763e+02,6.2463
5,5,"[957.0046, -1620.6022, 664.5975]",1.9960e+03,6.2839
6,6,"[5998.4415, -10211.5804, 4214.139]",1.2570e+04,6.2979
7,7,"[37746.1462, -64373.6582, 26628.512]",7.9233e+04,6.3031
8,8,"[237848.8037, -405891.7782, 168043.9746]",4.9956e+05,6.3050
9,9,"[1499475.8002, -2559445.9822, 1059971.182]",3.1500e+06,6.3056
10,10,"[9454812.0924, -16139651.7297, 6684840.6373]",1.9864e+07,6.3059